#strona-glowna {
    padding-top: 40px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oferteo {
  height: 200px;
  background-image: url(../images/oferteo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
